{% extends "public/base_public.html" %}
{% block title %}Galeri{% endblock %}

{% block content %}

<section class="py-16 bg-gray-50">

<div class="max-w-7xl mx-auto px-6">

<div class="text-center mb-12">

<h1 class="text-3xl font-bold text-[#157347]">
Galeri Kegiatan
</h1>

<p class="text-gray-500 mt-2">
Dokumentasi kegiatan PC IPM Medan Area
</p>

</div>


<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

{% for album in album_list %}

<a href="{% url 'detail_album' album.judul %}"
class="group relative overflow-hidden rounded-xl shadow hover:shadow-xl">

<img
src="/media/{{ album.cover }}"
class="w-full h-56 object-cover
group-hover:scale-110 transition duration-300">

<div class="absolute inset-0 bg-black/40 flex items-end">

<div class="p-4 text-white">

<p class="font-semibold">
{{ album.judul }}
</p>

<p class="text-sm opacity-80">
{{ album.total }} Foto
</p>

</div>

</div>

</a>

{% endfor %}

</div>

</div>

</section>

{% endblock %}